@charset "UTF-8";
html {
  scroll-behavior: smooth;
}
/* ボディ */
body {
  font-size: 18px;
  margin:0;
}
/* ヘッダー */
header {
  color: white;
  background: rgb(135, 135, 233);
  text-align: center;
  padding: 100px 5px;
}
header a {
  color:white;
  border:solid 1px white;
  border-radius: 10px;
  padding:5px 10px;
  margin: 0 3px;
  /* text-decoration: none; */
  transition: all .5s;
}
header a:hover{
  background: white;
  color: rgb(135, 135, 233);
}
/* メイン */
main {
  background: turquoise;
  padding: 10px 0 40px 0;
}
main h2 {
  color: white;
  margin: 40px 0;
  text-align: center;
}
main img{
  width:100%;
}
.mokuji{
  background: white;
  width:250px;
  padding: 10px;
  margin: 30px auto;
  border-radius: 10px;
}
.mokuji h3{
  text-align: center;
  margin: 0;
}
.mokuji ul{
  margin: 10px 0;
}
.mokuji a{
  transition: all.5s;
} 
.mokuji a:hover{
  color: orange;
} 
.contents {
  background: white;
  width: 80%;
  margin: 0 auto;
  padding: 10px;
  border-radius: 10px;
}
.contents p {
  padding-left: 5px;
  border-left: solid 10px turquoise;
}
.contents b{
  color: orangered;
}
.circle {
  width: 20px;
  margin: 40px auto;
}
.circle div{
  background: white;
  width: 20ox;
  height: 20px;
  margin-bottom: 10px;
  border-radius: 100%;
}
/* フッター */
.footer{
background: orangered;
color: white;
text-align: center;
padding: 10px 0;
}

